{% extends 'base.html' %}
{% load static %}

{% block head_title %} Contact | 乱読プログラマーの技術ブログ{% endblock %}
{% block ogp %}
<meta property="og:title" content="Contact - 乱読プログラマーの技術ブログ">
{% endblock %}

{% block body %}
<!-- トップ画像、タイトル -->
{% include 'posts/top_img.html' with text='乱読プログラマーの技術ブログ' %}
<br /><br />

<div style="margin: auto; display: block; width: 600px; max-width: 100%;">
  <p>
    WEBサイト制作、デモアプリ制作、pythonによる業務自動化、スクレイピング、bot制作、プログラミングの家庭教師、日中翻訳・通訳などの仕事を相談に応じてお引き受致します。ご連絡はこちらまで→<a href="mailto:kuaiwanga@gmail.com">kuaiwanga@gmail.com</a></p>
  </p>
</div>

{% endblock %}