{% extends 'base.html' %}
{% load static %}

{% block head_title %} Contact | 乱読プログラマーの技術ブログ{% endblock %}
{% block ogp %}
<meta property="og:title" content="Contact - 乱読プログラマーの技術ブログ">
<meta property="og:image" content="https://res.cloudinary.com/hpeqmnspv/image/upload/l_text:Sawarabi%20Gothic_100_bold:乱読プログラマーの技術ブログ,co_rgb:f5f5f5,w_1500,c_fit/v1662296508/OGP/top_s7bwnx.png">
{% endblock %}

{% block body %}
<!-- トップ画像、タイトル -->
{% include 'posts/top_img.html' with text='乱読プログラマーの技術ブログ' %}
<br /><br />

<div style="margin: auto; display: block; width: 700px; max-width: 100%; font-size: 1.3em;">
  <p>
    WEBサイト制作、デモアプリ制作、pythonによる業務自動化、スクレイピング、bot制作、プログラミングの家庭教師、日中翻訳・通訳などの仕事を相談に応じてお引き受致します。ご連絡はこちらまで→<a href="mailto:kuaiwanga@gmail.com">kuaiwanga@gmail.com</a></p>
  </p>
</div>

{% endblock %}