{% extends 'base.html' %}
{% load static %}

{% block head_title %}編集中の記事 | 乱読プログラマーの技術ブログ{% endblock %}
{% block ogp %}
<!-- <meta property="og:title" content="乱読プログラマーの技術ブログ"> -->
{% endblock %}

{% block body %}
  <!-- <h1 class="text-center">This is draft page. <br />Only superuser can access it.</h1> -->

  <h2>編集中の記事</h2>
  {% for post in draft %}
    {{ post.created_at | date:"Y-m-j"}} <br/>
    <h4><a href="{% url 'detail' post.slug %}" style="text-decoration: none; font-weight: bold; color: black;">{{ post.title }}</a></h4> 
    {% for tag in post.tags.all %}   
      <a href="{% url 'tag' tag %}" class="badge badge-info">{{ tag.name }}</a>
    {% endfor %}
    <br /><br />
  {% endfor %}
{% endblock %}


