{% extends 'base.html' %}
{% load static %}

{% block head_title %}
{% if category %} カテゴリー: {{ category.name }} | 乱読プログラマーの技術ブログ
<!-- {% elif tag %} タグ: {{ tag.name }} | 乱読プログラマーの技術ブログ -->
{% endif %}
{% endblock %}

{% block ogp %}
{% if category %}
<meta property="og:title" content="カテゴリー: {{ category.name }} - 乱読プログラマーの技術ブログ">
{% elif tag %}
<meta property="og:title" content="タグ: {{ tag.name }}の一覧 - 乱読プログラマーの技術ブログ">
{% endif %}
{% endblock %}


{% block body %}
{% if category %}
<div style="margin-top: 30px; margin-bottom: 30px;">
  <!-- <h2 style="">{{ category.name }}の一覧</h2> -->
  <p><a href="/">TOP</a> > {{ category.name }} </a></p>
  <p>{{ cstegory.text }}</p>
</div>
{% elif tag %}
<div style="margin-top: 30px; margin-bottom: 30px;">
  <p><a href="/">TOP</a> > {{ tag.name }} </a></p>
  <!-- <h2 style="">{{ tag.name }}の一覧</h2> -->
</div>
<p>{{ tag.text }}</p>
{% endif %}

<!-- タグ、日付、タイトル -->
{% for post in posts %}
  {% include 'posts/title_date_tags.html' %}
  <br /><br />
{% endfor %}

<!-- トップに戻る -->
{% include 'posts/back_top_btn.html' %}


{% endblock %}