{% extends 'base.html' %}
{% load static %}

{% block head_title %} Tags | 乱読プログラマーの技術ブログ {% endblock %}
{% block ogp %}
<meta property="og:title" content="Tags - 乱読プログラマーの技術ブログ">
{% endblock %}

{% block body %}
<span style="font-weight: bold; font-size: 1.3em;">タグ: </span>
{% for tag in tag_list %}
  {% include 'posts/tag_badge.html' %}
{% endfor %}
<br/><br/>
<!-- <span style="font-weight: bold;">カテゴリー: </span>
{% for category in category_list %}
  <a href="{% url 'category' category %}" class="btn btn-outline-dark">{{ category.name }}</a>
{% endfor %}  -->
{% endblock %}
