{% load static %}
<style type="text/css">
    .wmd-wrapper  ul {
        margin-left: 0px !important;
    }
    .wmd-wrapper ul li{
        list-style: disc !important;
    }
    .wmd-wrapper ul ul li{
        list-style: circle !important;
    }
    .wmd-wrapper h1,
    .wmd-wrapper h2,
    .wmd-wrapper h3,
    .wmd-wrapper h4,
    .wmd-wrapper h5,
    .wmd-wrapper h6 {
        background: #ffffff !important;
        color: #000000 !important;
    }
    .wmd-wrapper h2,
    .wmd-wrapper h3,
    .wmd-wrapper h4{
        padding: 0px !important;
    }
    .wmd-wrapper h5{
        letter-spacing: 0px !important;
        text-transform: none !important;
        font-size: 1em !important;
    }
    .wmd-wrapper h6{
        font-size: 1em !important;
        color: #777 !important;
    }
</style>

<div class="wmd-wrapper"  id="{{ id }}-wmd-wrapper">
  <textarea {{ final_attrs|safe }}>{{ value }}</textarea>
</div>

{% if config.language == 'en' %}
<script src="{% static 'mdeditor/languages/en.js' %}"></script>
{% elif config.language == 'de' %}
<script src="{% static 'mdeditor/languages/de.js' %}"></script>
{% elif config.language == 'pt_BR' %}
<script src="{% static 'mdeditor/languages/pt_BR.js' %}"></script>
{% endif %}
<script type="text/javascript">
    var isUpLoadToCloudinary = false; // add
    $(function () {
        editormd("{{ id }}-wmd-wrapper", {
            watch: {{ config.watch|lower }}, // 关闭实时预览
            lineNumbers: {{ config.lineNumbers|lower }},
            lineWrapping: {{ config.lineWrapping|lower }},
            width: "{{ config.width }}",
            height: {{ config.height }},
            placeholder: '{{ config.placeholder }}',
            // 当有多个mdeditor时，全屏后，其他mdeditor仍然显示，解决此问题。
            onfullscreen : function() {
                this.editor.css("border-radius", 0).css("z-index", 9999);
            },
            onfullscreenExit : function() {
                this.editor.css({
                    zIndex : 10,
                    border : "1px solid rgb(221,221,221)"
                })
            },
            syncScrolling: "single",
            path: "{% static  'mdeditor/js/lib' %}" + "/",
            // theme
            theme : "{{ config.theme|safe }}",
            previewTheme : "{{ config.preview_theme|safe }}",
            editorTheme : "{{ config.editor_theme }}",

            saveHTMLToTextarea: true, // editor.md 有问题没有测试成功
            toolbarAutoFixed: {{ config.toolbar_autofixed|lower }},
            searchReplace: {{ config.search_replace|lower }},
            emoji: {{ config.emoji|lower }},
            tex: {{ config.tex|lower }},
            taskList: {{ config.task_list|lower }},
            flowChart: {{ config.flow_chart|lower }},
            sequenceDiagram: {{ config.sequence|lower }},

            // image upload
            imageUpload: true,
            imageFormats: {{ config.upload_image_formats|safe }},
            // imageUploadURL: "{{ config.upload_image_url }}",
            toolbarIcons: function () {
                return {{ config.toolbar|safe }}
            },
            onload: function () {
                console.log('onload', this);
                localOrCloudinary();
            },
            toolbarCustomIcons : {  
                uploadToCloudinary: `  
                    <select id="upload-to-place">  
                      <option value ="local-store">Local</option>  
                      <option value ="cloudinary-store">Cloudinary</option>  
                    </select>  
                `,  
            }, // add  
        });
    });

    function localOrCloudinary() {
        $("#upload-to-place").bind("change", function () {
            var selected = $(this).val();
            if (selected == "local-store") {
                isUpLoadToCloudinary = false;
            } else {
                isUpLoadToCloudinary = true;
            }
            console.log('isUpLoadToCloudinary', isUpLoadToCloudinary)
        })
    }

    function initPasteDragImg(Editor){
    var doc = document.getElementById(Editor.id)
    doc.addEventListener('paste', function (event) {
        var items = (event.clipboardData || window.clipboardData).items;
        var file = null;
        if (items && items.length) {
            // 搜索剪切板items
            for (var i = 0; i < items.length; i++) {
                if (items[i].type.indexOf('image') !== -1) {
                    file = items[i].getAsFile();
                    break;
                }
            }
        } else {
            console.log("当前浏览器不支持");
            return;
        }
        if (!file) {
            console.log("粘贴内容非图片");
            return;
        }
        uploadImg(file,Editor);
    });
    var dashboard = document.getElementById(Editor.id)
    dashboard.addEventListener("dragover", function (e) {
        e.preventDefault()
        e.stopPropagation()
    })
    dashboard.addEventListener("dragenter", function (e) {
        e.preventDefault()
        e.stopPropagation()
    })
    dashboard.addEventListener("drop", function (e) {
        e.preventDefault()
        e.stopPropagation()
     var files = this.files || e.dataTransfer.files;
     uploadImg(files[0],Editor);
     })
}
function uploadImg(file,Editor){
    var formData = new FormData();
    var fileName=new Date().getTime()+"."+file.name.split(".").pop();
    formData.append('editormd-image-file', file, fileName);
    formData.append('content', '');
    var imageUploadURL = isUpLoadToCloudinary == true ? "/mdeditor/uploads/" : "mdeditor/uploadlocal/"
    $.ajax({
        // url: imageUploadURL,
        url: Editor.settings.imageUploadURL,
        type: 'post',
        data: formData,
        processData: false,
        contentType: false,
        dataType: 'json',
        success: function (msg) {
            var success=msg['success'];
            if(success==1){
                var url=msg["url"];
                if(/\.(png|jpg|jpeg|gif|bmp|ico)$/.test(url)){
                    Editor.insertValue("![图片alt]("+msg["url"]+" ''图片title'')");
                }else{
                    Editor.insertValue("[下载附件]("+msg["url"]+")");
                }
            }else{
                console.log(msg);
                alert("上传失败");
            }
        }
    });
}
</script>
