{% extends 'base.html' %}
{% load static %}
{% load markdown_extras %}


{% block head %}
<title>{{ post.title }}</title>
<!-- md -->
{% if post.font == 1 %}
  <link href="{% static 'mdeditor/css/font_cn.css' %}" rel="stylesheet">
{% elif post.font == 2 %}
  <link href="{% static 'mdeditor/css/font_en.css' %}" rel="stylesheet">
{% elif post.font == 3 %}
  <link href="{% static 'mdeditor/css/font_jp.css' %}" rel="stylesheet">
{% else %}
{% endif %}
<link href="{% static 'mdeditor/css/editormd.preview.css' %}" rel="stylesheet">
{% endblock %}

<body>
{% block body %}
    <h2>{{ post.title }}</h2>
    作成日: {{ post.created_at }} <br/>
    編集日: {{ post.updated_at }} <br/>
    作成者: {{ post.auther.username }}  <br/>
    <!-- タグ: {{ post.tag.name }}   -->
    <br /><br />

      <!-- <textarea>{ post.body|markdown|safe }}</textarea> -->
      <!-- {{ post.body|markdown|safe }} -->
    <div id="content"><textarea>{{ post.body }}</textarea></div>

    <p><a href="{% url 'index' %}">トップに戻る</a></p>
    <h2>関連記事</h2>
    {% if post.relation.all %}
      {% for post in post.relation.all %}
        <p><a href="{% url 'detail' post.slug %}">{{ post.title }}</a></p>
      {% endfor %}
    {% else %}
      <p>関連記事はありません...</p>
    {% endif %}
{% endblock %}

{% block add_js %}
<!-- md -->
<script src="{% static 'mdeditor/js/jquery.min.js' %}"></script>
<script src="{% static 'mdeditor/js/editormd.min.js' %}"></script>
<script src="{% static 'mdeditor/js/lib/marked.min.js' %}"></script>
<script src="{% static 'mdeditor/js/lib/prettify.min.js' %}"></script>
<script src="{% static 'mdeditor/js/lib/raphael.min.js' %}"></script>
<script src="{% static 'mdeditor/js/lib/underscore.min.js' %}"></script>
<script src="{% static 'mdeditor/js/lib/sequence-diagram.min.js' %}"></script>
<script src="{% static 'mdeditor/js/lib/flowchart.min.js' %}"></script>
<script src="{% static 'mdeditor/js/lib/jquery.flowchart.min.js' %}"></script>
<script>
$(function () {
    // js 解析markdown
    editormd.markdownToHTML("content", {
        // htmlDecode      : "style,script,iframe",  // you can filter tags decode
        emoji           : true,
        taskList        : true,
        tex             : true,  // 默认不解析
        flowChart       : true,  // 默认不解析
        sequenceDiagram : true,  // 默认不解析
    });

    $(".reference-link").each(function (i,obj) {
      console.log(obj)
    })
})
</script>
{% endblock %}
</body>
</html>
